* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(0, 0, 0);
  color: #e7e7e7;
  min-height: 100vh;
  line-height: 1.5;
}

.image-gradient {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.7;
  z-index: -1;
}

.layer-blur {
  height: 0;
  width: 40rem;
  position: absolute;
  top: 30%;
  right: 0%;
  border-radius: 50%;
  rotate: -30deg;
  z-index: -1;
  border-radius: 50px;
  /* duration,  speed style of the animation, repeat forever, forward-back-forward style*/
  animation: glow 3s ease-in-out infinite alternate;
}
/* X offset, Y offset, Huge blur radius, Expand the shadow outward, shadow color*/
@keyframes glow {
  from {
    box-shadow: 0 0 50px 0px rgb(211, 232, 243);
  }
  to {
    box-shadow: 0 0 600px 20px rgb(45, 160, 254);
  }
}

/* CONTAINER */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  overflow: hidden;
}
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

header h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: -5%;
}

nav a {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  transition: color 0.2s ease;
  text-decoration: none;
  color: inherit;
  z-index: 999;
}

nav a:hover {
  color: #a7a7a7;
}

.btn-signing {
  background-color: #a7a7a7;
  color: black;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
  cursor: pointer;
  z-index: 999;
}

.btn-signing:hover {
  background-color: white;
}

/* MAIN CONTENT */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(90vh - 6rem);
}

.content {
  max-width: 40rem;
  margin-left: 10%;
  z-index: 999;
}

.tag-box {
  position: relative;
  width: 18rem;
  height: 2.5rem;
  border-radius: 50px;
  background: linear-gradient(
    to right,
    #57abdb,
    #33baf4,
    #374af7,
    #1d91fe,
    #20b0fd
  );
  background-size: 200%;
  animation: animationGradient 2.5s linear infinite;
  box-shadow: 0 0 5px rgba(52, 158, 182, 0.3);
}

@keyframes animationGradient {
  to {
    background-position: 200%;
  }
}

.tag-box .tag {
  position: absolute;
  inset: 1.7px 1.7px 1.7px 1.7px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  cursor: pointer;
}

.tag-box .tag:hover {
  color: rgb(96, 71, 221);
}

.content h1 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 2rem 0;
  line-height: 1.2;
  text-shadow: 0 0 10px hsla(240, 3%, 74%, 0.429);
}

.description {
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  max-width: 35rem;
  color: gray;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}

.btn-blogs {
  text-decoration: none;
  border: 1px solid #2a2a2a;
  padding: 0.7rem 1.2rem;
  border-radius: 50px;
  font-weight: 600;
  letter-spacing: 0.1;
  transition: backgroun-color 0.2s ease;
}

.btn-blogs:hover {
  background-color: #1a1a1a;
}

.btn-github {
  text-decoration: none;
  background-color: lightgray;
  color: black;
  padding: 0.6rem 2.5rem;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1;
  transition: backgroun-color 0.2s ease;
}

.btn-github:hover {
  background-color: gray;
}

.robo {
  position: absolute;
  top: 0;
  right: -30%;
}
